*{
    margin: 0;
    padding: 0;
    font-family: fantasy;
}

/* Cabeçalho */

header{
    background-color: #221932;
    color: #b3a5aa;
    display: flex;
    border-radius: 30px;
    box-shadow: inset #ff0073 0px 0px 10px, #ff0073 0px 0px 50px;
}

/* Logo */

.box-head{
    width: 100%;
}

.box-logo{
    display: flex;
    align-items: center;
    text-align: center;
    font-family: fantasy;
    margin-block: 10px;
    margin-inline: 740px;
    width: 180px;
    height: 150px;
}

.box-logo h2{
    font-size: 50px;
    font-weight: 100;
}

.box-logo img{
    width: 200px;
    height: 130px;
}

.box-logo h1{
    font-size: 49px;
    font-weight: 100;
}

/* Menu */

.box-menu{
    width: 100%;
    margin: 20px auto;
}

.box-menu nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.box-menu nav ul li{
    padding: 10px;
    border: #ff0073 2px solid;
    box-shadow: inset #ff0073 0px 0px 10px, #ff0073 0px 0px 10px;
    border-radius: 5px;

}

.box-menu nav ul li:not(:last-child){
    margin-right: 500px;
    margin-left: 20px;
}

.box-menu nav ul li a{
    text-decoration: none;
    color: #ff0073;
}

/* Fim Do cabeçalho */

/* Corpo */

body{
    /* background-color: #060407; */
    background-image: url(/img/Fundo\ -\ barber\ 1.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.box-body{
    width: 97%;
    margin: 50px auto;
    background: none;
    border: #221932 2px solid;
    border-radius: 20px;
    height: 100vh;
}

.box-cab {
    display: flex;
    align-items: center;
    margin: 20px;
}

.box-cab img{
    width: 60px;
    background-color: #7c1946;
    border: 2px solid #ff0073;
    border-radius: 50px;
    box-shadow: #ff0073 0px 0px 20px;
}

.box-cab h1{
    color: #7c1946;
    text-shadow: #ff0073 0px 3px 4px;
    border-left: 2px solid #ff0073;
    padding-left: 5px;
    margin-left: 10px;
    font-weight: 200;
}

.slider{
    margin-left: 50px;
    width: 700px;
    height: 350px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 350px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 700px;
    height: 350px;
}

.manual-nav{
    position: absolute;
    width: 700px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-bnt{
    border: 2px solid #ff0073;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-bnt:not(:last-child){
    margin-right: 40px;
}

.manual-bnt:hover{
    background-color: #ff0073;
}

#radio1:checked ~ .first{
    margin-left: 0;
}


#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

#radio5:checked ~ .first{
    margin-left: -100%;
}

.nav-auto div{
    border: 2px solid #ff0073;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.nav-auto{
    position: absolute;
    width: 700px;
    margin-top: 310px;
    display: flex;
    justify-content: center;
}

.nav-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: #ff0073;
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: #ff0073;
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #ff0073;
}

#radio4:checked ~ .nav-auto .auto-btn4{
    background-color: #ff0073;
}

#radio5:checked ~ .nav-auto .auto-btn5{
    background-color: #ff0073;
}
