*{
    margin: 0;
    padding: 0;
    font-family: fantasy;
}

/* Cabeçalho */

header{
    background-color: #221932;
    color: #b3a5aa;
    display: flex;
    border-radius: 30px;
    box-shadow: inset #ff0073 0px 0px 10px, #ff0073 0px 0px 50px;
}

/* Logo */

.box-head{
    width: 100%;
}

.box-logo{
    display: flex;
    align-items: center;
    text-align: center;
    font-family: fantasy;
    margin-block: 10px;
    margin-inline: 740px;
    width: 180px;
    height: 150px;
}

.box-logo h2{
    font-size: 50px;
    font-weight: 100;
}

.box-logo img{
    width: 200px;
    height: 130px;
}

.box-logo h1{
    font-size: 49px;
    font-weight: 100;
}

/* Menu */

.box-menu{
    width: 100%;
    margin: 20px auto;
}

.box-menu nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.box-menu nav ul li{
    padding: 10px;
    border: #ff0073 2px solid;
    box-shadow: inset #ff0073 0px 0px 10px, #ff0073 0px 0px 10px;
    border-radius: 5px;

}

.box-menu nav ul li:not(:last-child){
    margin-right: 500px;
    margin-left: 20px;
}

.box-menu nav ul li a{
    text-decoration: none;
    color: #ff0073;
}

/* Fim Do cabeçalho */

/* Corpo */

body{
    /* background-color: #060407; */
    background-image: url(/img/Fundo\ -\ barber\ 1.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.box-body{
    width: 97%;
    margin: 50px auto;
    background: none;
    border: #221932 2px solid;
    border-radius: 20px;
    height: 200vh;
}

.box-cab {
    display: flex;
    align-items: center;
    margin: 20px;
}

.box-cab img{
    width: 60px;
    background-color: #7c1946;
    border: 2px solid #ff0073;
    border-radius: 50px;
    box-shadow: #ff0073 0px 0px 20px;
}

.box-cab h1{
    color: #7c1946;
    text-shadow: #ff0073 0px 3px 4px;
    border-left: 2px solid #ff0073;
    padding-left: 5px;
    margin-left: 10px;
    font-weight: 200;
}

.box-barb {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 30px 20px;
}

.box-barb img{
    width: 60px;
    background-color: #7c1946;
    border: 2px solid #ff0073;
    border-radius: 50px;
    box-shadow: #ff0073 0px 0px 20px;
}

.box-barb h1{
    color: #7c1946;
    text-shadow: #ff0073 0px 3px 4px;
    border-right: 2px solid #ff0073;
    padding-right: 5px;
    margin-right: 10px;
    font-weight: 200;
}
