*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(/img/Fundo\ -\ barber\ 1.png);
    color: white;
}

.header{
    height: 70px;
    align-content: center;
}

.header h2{
    padding-left: 20px;
}

.header h2 a{
    padding: 5px;
    color: #ff0073;
    border-radius: 5px;
    text-decoration: none;
    border: #ff0073 2px solid;
    box-shadow: #ff0073 0px 0px 0px 1px, #ff0073 0px 0px 10px;
}

main{
    text-align: center;
    justify-items: center;
}

main h1{
    color: #ff0073;
    margin-bottom: 30px;
}

.Agendamento{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #220032;
}

#calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

#calendar div{
    text-align: center;
    padding: 25px;
    border: 3px solid #ddd;
    cursor: pointer;
}

#calendar div:hover{
    background-color: #ff0073;
}

#calendar .selected{
    background-color: #c26ee9;
    color: white;
    font-weight: 800;
}

/* Estilo para a confirmação de agendamento */
.confimation{
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #00f;
    background-color: #63b3af;
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    display: none;
}